<div id="mainWrap">
  <div id="loggit">
    <h1><i class="fa fa-lock"></i> Loggit</h1>
    <h3>Please <strong>Login</strong> or <strong>Register</strong></h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {:class => "form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-briefcase fa-fw"></i>
          </span>
          <%= f.text_field :username, autofocus: true ,:class =>"form-control input-lg",:placeholder=>"Enter Username"%>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i>
          </span>
          <%#= f.label :email %>
          <%= f.email_field :email ,:class =>"form-control input-lg",:placeholder=>"Enter email"%>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i>
          </span>
          <%#= f.label :password %>
          <%= f.password_field :password, autocomplete: "off",:class =>"form-control input-lg",:placeholder=>"Enter Password" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i>
          </span>
          <%#= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off",:class =>"form-control input-lg",:placeholder=>"Enter Password" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i>
          </span>
          <%@gender=[['Male',0], ['Female', 1]]%>
          <%= f.select :gender, options_for_select(@gender),{},{:class =>"form-control input-lg"}%>
        </div>
      </div>
    </div>
    <div class="form-group formSubmit">
      <div class="col-sm-7">
        <div class="checkbox">
          <label>
            <input type="checkbox" autocomplete="off"> 
            I agree to the Terms &amp; Conditions
          </label>
        </div>
      </div>
      <div class="col-sm-5 submitWrap">
       <%= f.submit "Register",:class => "btn btn-success btn-lg" %>
     </div>
   </div>
   <% end %>
   <%= render "devise/shared/links" %>
  </div>

</div>



